@use "../../../constants/colors";
@use "../../../fonts/fonts.scss";

@keyframes slideInLeft {
  from {
    transform: translateX(-500px);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(500px);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(500px);
    opacity: 0%;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media only screen and (min-width: 1400px) {
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.product__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  .product__headline {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    margin-top: 30px;
    animation-name: appear;
    animation-duration: 2s;

    h2 {
      font-family: 'EudoxusSans';
    }
  }

  .product__firstLine{
    display: flex;
    justify-content: space-evenly;
    width: 99.7vw;
    margin-bottom: 50px;

    .canvas {
      height: 30.313rem;
      width: 36.45%;
      max-width: 100%;
      margin-top: 4.688rem;
      border-style: solid;
      border-radius: 6.25rem;
      border-width: 0.125rem;
      border-color: colors.$app-blue;
      animation-name: slideInLeft;
      animation-duration: 2s;
    }

    .product__characteristics {
      display: block;
      width: 30.52%;
      height: 30.313rem;
      margin-top: 140px;
      animation-name: slideInRight;
      animation-duration: 2s;

      h2 {
        font-size: 2.188rem;
        margin-top: 0.006rem;
        margin-bottom: 0.313rem;
      }

      .product__characteristics__paragraph {
        margin-top: 10px;
         
        ol {
          list-style-type: none;
          padding: 0;
          counter-reset: li;

          li {
            counter-increment: item;
            margin-top: 10px;
            margin-bottom: 10px;

            ::before {
              margin-left: -35px;
              margin-right: 10px;
              counter-increment: li;
              content: counter(item, decimal-leading-zero);
              color: colors.$app-blue;
              font-weight: lighter;
            }
          }
        }

        span {
          margin-top: 0.75rem;
        }
      }
    }
  }

  .product__thematicBrake {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    animation-name: slideInBottom;
    animation-duration: 2s;
    margin-top: 25px;
  }

  .product__secondLine {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 100px;

    .product__description.animate {
      animation-name: slideInLeft;
      animation-duration: 2s;
      margin-top: 6.25rem;
      width: 36.45%;
      font-size: 1.375rem;
    }

    .product__boxImage.animate {
        margin-top: 3.125rem;
        width: 30.52%;
        animation-name: slideInRight;
        animation-duration: 2s;

      img {
        margin-top: -30px;
        height: 28.125rem;
        width: 100%;
      }
    }
  }

  .product__thirdLine.animate {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 78%;
    font-size: 22px;
    line-height: 1.875rem;
    animation-name: slideInBottom;
    animation-duration: 2s;
  }

  .product__fourthLine.animate {
    margin-top: 100px;
    width: 52.08%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation-name: slideInBottom;
    animation-duration: 2s;
    margin-bottom: 50px;
    
    .advantages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h1 {
        margin-top: 30px;
        font-family: 'EudoxusSans';
      }

      span {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.375rem;
      }
    }

    .product__fourthLine__buttons {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      button {
        margin: 0 10px;
      }
    }


  }
}
}
}

  @media only screen and (min-width: 993px) and (max-width: 1399px) {
    .product {
      display: flex;
      flex-direction: column;
  
    .product__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .product__headline {
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: -60px;
        margin-top: 30px;
        animation-name: appear;
        animation-duration: 2s;

        h2 {
          font-family: 'EudoxusSans';
        }
      }
    
      .product__firstLine{
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        margin-bottom: 100px;
        
        .canvas {
          height: 30.313rem;
          width: 35.73%;
          max-width: 100%;
          margin-top: 4.688rem;
          border-style: solid;
          border-radius: 6.25rem;
          border-width: 0.125rem;
          border-color: colors.$app-blue;
          animation-name: slideInLeft;
          animation-duration: 2s;
        }
    
        .product__characteristics {
          width: 28.59%;
          height: 30.313rem;
          margin-top: 110px;
          margin-left: 100px;
          animation-name: slideInRight;
          animation-duration: 2s;
    
          h2 {
            font-size: 2.188rem;
            margin-top: 0.006rem;
            margin-bottom: 0.313rem;
          }
    
          .product__characteristics__paragraph {
            margin-top: 10px;
             
            ol {
              list-style-type: none;
              padding: 0;
              counter-reset: li;
    
              li {
                counter-increment: item;
                margin-top: 10px;
                margin-bottom: 10px;
    
                ::before {
                  margin-left: -35px;
                  margin-right: 10px;
                  counter-increment: li;
                  content: counter(item, decimal-leading-zero);
                  color: colors.$app-blue;
                  font-weight: lighter;
                }
              }
            }
    
            span {
              margin-top: 0.75rem;
            }
          }
        }
      }

      .product__thematicBrake {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: flex;
        animation-name: slideInBottom;
        animation-duration: 2s;
      }
    
      .product__secondLine {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    
        .product__description.animate {
          margin-top: 50px;
          width: 35.73%;
          min-width: 1%;
          font-size: 1.375rem;
          animation-name: slideInLeft;
          animation-duration: 2s;
        }
    
        .product__boxImage.animate {
            margin-top: 3.125rem;
            width: 35.73%;
            animation-name: slideInRight;
            animation-duration: 2s;
    
          img {
            margin-top: -30px;
            width: 100%;
          }
        }
      }
    
      .product__thirdLine.animate {
        margin-top: 4.688rem;
        font-size: 1.375rem;
        line-height: 1.875rem;
        width: 81%;
        animation-name: slideInBottom;
        animation-duration: 2s;
      }
    
      .product__fourthLine.animate {
        margin-top: 4.688rem;
        width: 62.5rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        animation-name: slideInBottom;
        animation-duration: 2s;
        margin-bottom: 50px;
        
        .advantages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1 {
            margin-top: 30px;
          }
    
          span {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.375rem;
          }
        }
    
        .product__fourthLine__buttons {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          gap: 30px;
        }
      }
    }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .product {
      display: flex;
      flex-direction: column;
  
    .product__body {
      margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     .product__headline {
        margin-top: 30px;
        margin-bottom: 10px;
        animation-name: appear;
        animation-duration: 2s;

        h2 {
          font-family: 'EudoxusSans';
          font-weight: 900;
          font-size: 30px;
        }
     }
  
      .product__firstLine{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
        
        .canvas {
          height: 300px;
          width: 50.4%;
          border-style: solid;
          border-radius: 75px;
          border-width: 0.125rem;
          border-color: colors.$app-blue;
          animation-name: slideInLeft;
          animation-duration: 2s;
        }
  
        .product__characteristics {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
          width: 100%;
          animation-name: slideInRight;
          animation-duration: 2s;
  
          .product__characteristics__paragraph {
            width: 70%;

            ol {
              list-style-type: none;
              margin-left: 50px;
              counter-reset: li;
  
              li {
                counter-increment: item;
                margin-top: 10px;
  
                ::before {
                  margin-left: -35px;
                  margin-right: 10px;
                  counter-increment: li;
                  content: counter(item, decimal-leading-zero);
                  color: colors.$app-blue;
                  font-weight: lighter;
                }
              }
            }
  
            span {
              font-size: 15px;
              margin-left: 10px;
            }
          }
        }
      }
      
      .product__thematicBrake {
        margin-top: 30px;
        margin-bottom: 10px;
        animation-name: slideInRight;
        animation-duration: 2s;
      }
  
      .product__secondLine {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        .product__description {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          font-size: 15px;
          margin-left: 10px;
          width: 66%;
          animation-name: slideInLeft;
          animation-duration: 2s;
        }
    
        .product__boxImage {
          animation-name: slideInRight;
          animation-duration: 2s;
          display: flex;
          justify-content: center;
          
          img {
            width: 70%;
            margin-top: 15px;
          }
        }
      }
  
      .product__thirdLine.animate {
        margin-top: 30px;
        font-size: 15px;
        width: 62%;
        margin-left: 10px;
        animation-name: slideInBottom;
        animation-duration: 2s;
      }
  
      .product__fourthLine.animate {
        width: 100vw;
        text-align: center;
        margin-top: 50px;
        animation-name: slideInBottom;
        animation-duration: 2s;
        margin-bottom: 50px;
        
        .advantages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          h1 {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 35px;
          }
    
          span {
            margin-top: 0.625rem;
            margin-bottom: 15px;
            font-size: 15px;
          }
        }

        .product__fourthLine__buttons {
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          gap: 30px;
        }
      }
    }
  }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .product {
    display: flex;
    flex-direction: column;
  
    .product__body {
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     .product__headline {
        margin-top: 30px;
        animation-name: appear;
        animation-duration: 2s;

        h2 {
          font-family: 'EudoxusSans';
        }
     }
  
      .product__firstLine{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        
        .canvas {
          height: 200px;
          width: 330px;
          border-style: solid;
          border-radius: 75px;
          border-width: 0.125rem;
          border-color: colors.$app-blue;
          animation-name: slideInRight;
          animation-duration: 2s;
        }
  
        .product__characteristics {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          animation-name: slideInLeft;
          animation-duration: 2s;
  
          .product__characteristics__paragraph {
            width: 90%;
  
            ol {
              list-style-type: none;
              padding: 0px 30px;
              margin-left: 50px;
              counter-reset: li;
  
              li {
                counter-increment: item;
                margin-top: 10px;
  
                ::before {
                  margin-left: -35px;
                  margin-right: 10px;
                  counter-increment: li;
                  content: counter(item, decimal-leading-zero);
                  color: colors.$app-blue;
                  font-weight: lighter;
                }
              }
            }
  
            span {
              font-size: 15px;
              margin-left: 10px;
            }
          }
        }
      }

      .product__thematicBrake {
        margin-top: 30px;
        margin-bottom: 10px;
        animation-name: slideInRight;
        animation-duration: 2s;
      }
  
      .product__secondLine {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    
        .product__description.animate {
          font-size: 15px;
          padding: 0px 45px;
          margin-left: 10px;
          width: 75%;
          animation-name: slideInLeft;
          animation-duration: 2s;
        }
    
        .product__boxImage.animate {
          animation-name: slideInRight;
          animation-duration: 2s;
          img {
            width: 300px;
            height: 220px;
            max-width: 100%;
            bottom: 100px;
          }
        }
      }
  
      .product__thirdLine.animate {
        margin-top: 30px;
        font-size: 15px;
        padding: 0px 45px;
        margin-left: 10px;
        width: 75%;
        margin-bottom: 30px;
        animation-name: slideInLeft;
        animation-duration: 2s;
      }
  
      .product__fourthLine.animate {
        width: 100vw;
        text-align: center;
        margin-top: 20px;
        animation-name: slideInBottom;
        animation-duration: 2s;
        margin-bottom: 50px;
        
        .advantages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          h1 {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 35px;
          }
    
          span {
            margin-top: 0.625rem;
            margin-bottom: 0.625rem;
            font-size: 15px;
          }
        }
      }
    }
  }
 }

@media only screen and (max-width: 600px) {
  .product {
    display: flex;
    flex-direction: column;

  .product__body {
    margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .product__headline{
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    animation-name: appear;
    animation-duration: 2s;

    h2 {
      font-family: 'EudoxusSans';
      font-size: 30px;
    }
   }

    .product__firstLine{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 30px;
      
      .canvas {
        height: 200px;
        width: 330px;
        border-style: solid;
        border-radius: 75px;
        border-width: 0.125rem;
        border-color: colors.$app-blue;
        animation-name: slideInLeft;
        animation-duration: 2s;
      }

      .product__characteristics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        animation-name: slideInRight;
        animation-duration: 2s;

        .product__characteristics__paragraph {
          width: 100vw;

          ol {
            list-style-type: none;
            padding: 0px 30px;
            margin-left: 50px;
            counter-reset: li;

            li {
              counter-increment: item;
              margin-top: 10px;

              ::before {
                margin-left: -35px;
                margin-right: 10px;
                counter-increment: li;
                content: counter(item, decimal-leading-zero);
                color: colors.$app-blue;
                font-weight: lighter;
              }
            }
          }

          span {
            font-size: 15px;
            margin-left: 10px;
          }
        }
      }
    }

    .product__secondLine {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
  
      .product__description.animate {
        font-size: 15px;
        padding: 0px 45px;
        margin-left: 10px;
        animation-name: slideInLeft;
        animation-duration: 2s;
      }
  
      .product__boxImage.animate {
        animation-name: slideInRight;
        animation-duration: 2s;
        img {
          width: 300px;
          height: 220px;
          max-width: 100%;
          right: 40px;
          margin-top: 15px;
        }
      }
    }

    .product__thirdLine.animate {
      margin-top: 30px;
      font-size: 15px;
      padding: 0px 45px;
      margin-left: 10px;
      animation-name: slideInBottom;
      animation-duration: 2s;
    }

    .product__fourthLine.animate {
      width: 100vw;
      text-align: center;
      margin-top: 20px;
      animation-name: slideInBottom;
      animation-duration: 2s;
      margin-bottom: 50px;
      
      .advantages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 35px;
        }
  
        span {
          margin-top: 0.625rem;
          margin-bottom: 0.625rem;
          font-size: 15px;
        }
      }
    }
  }
}
}





