@use "../../../constants/colors.scss";
@use "../../../fonts/fonts.scss";

.smallHeading {
    font-family: fonts.$crimson-text;

    &--black {
        color: black;
    }

    &--white {
        color: white;
    }

    &--blue {
        color: colors.$app-blue;
    }

    &--darkerBlue {
        color: colors.$darker-blue;
    }
}