@use "../../../constants/colors";
@use "../../../fonts/fonts";

.btn {
    font-family: fonts.$crimson-text-bold;
    border-radius: 25rem;
    text-align: center;
    font-size: 1.25rem;

    &--first {
        background-color: colors.$app-blue;
        border-color: colors.$app-blue ;
        color: white;
        border: none;
        padding: 0.625rem 1rem;

        &:hover {
            background-color: colors.$darker-blue;
            transition-duration: 0.5s;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &--second {
        background-color: white;
        color: colors.$app-blue;
        border-style: solid;
        padding: 0.625rem 1rem;
        border-color: white;

        &:hover {
            border-color: colors.$app-blue;
            transition-duration: 0.5s;
        }
    }

    &--third {
        background-color: transparent;
        color: white;
        padding: 0.625rem 1rem;
        border-style: solid;

        &:hover {
            border-color: white;
        }
    }
}