@use "../../../constants/colors";
@use "../../../fonts/fonts.scss";

.benefit {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;

    .benefit__icon{
        width: 100px;
        height: 100px;
        fill: colors.$app-blue;
        margin-bottom: -10px;
    }

    .benefit__content {
        .benefit__content__headline {
            font-family: "EudoxusSans";
            color: colors.$app-blue;
            font-size: 25px;
        }

        .benefit__content__description {
            margin-top: 10px;
            font-family: fonts.$crimson-text;
            color: colors.$darkest-blue;
            font-size: 20px;
        }
    }
}