@use "../../../constants/colors.scss";
@use "../../../fonts/fonts.scss";

.bigHeading {
    font-family: fonts.$crimson-text-bold;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1rem;

    &--black {
        color: black;
    }

    &--blue {
        color: colors.$app-blue;
    }
}