@use "../../../constants/colors";
@use "../../../fonts/fonts.scss";

@media only screen and (min-width: 736px) {
    .react-select-container  {
        width: 290px;
        outline: none;
        position: relative;
        z-index: 9999;
        font-family: fonts.$crimson-text;
        font-weight: 550;
    }

    .react-select__menu {
        position: relative;
        z-index: 9999;
    }

    .country-option {
        display: flex;
        gap: 10px;
        color: colors.$app-blue;

        img {
            width: 30px;
            height: 20px;
        }
    }
}

@media only screen and (max-width: 735px) {
    .react-select-container  {
        width: 300px;
        margin-bottom: 20px;
        outline: none;
        position: relative;
        z-index: 9999;
        font-family: fonts.$crimson-text;
        font-weight: 550;
    }

    .react-select__menu {
        position: relative;
        z-index: 9999;
    }

    .country-option {
        display: flex;
        gap: 10px;
        color: colors.$app-blue;

        img {
            width: 30px;
            height: 20px;
        }
    }
}