@use "../../../constants/colors";
@use "../../../fonts/fonts.scss";

.react-select-container  {
    width: 290px;
    // padding-left: 0;
    // border-radius: 60px;
    // border: 1px solid colors.$app-blue;
    // color: colors.$app-blue;
    outline: none;
    position: relative;
    z-index: 9999;
    font-family: fonts.$crimson-text;
    font-weight: 550;
}

.react-select__menu {
    position: relative;
    z-index: 9999;
}

.country-option {
    display: flex;
    gap: 10px;

    img {
        width: 30px;
        height: 20px;
    }
}