@use "../../../constants/colors.scss";
@use "../../../fonts/fonts.scss";

.textAreaField {
    font-family: fonts.$crimson-text;
    font-size: 1.25rem;
    border-color: colors.$app-blue;
    border-radius: .625rem;
    border-width: .125rem;
    padding: .3125rem .625rem;
}