@use "../../../constants/colors.scss";
@use "../../../fonts/fonts.scss";



@keyframes slideInLeft {
    from {
      transform: translateX(-500px);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(500px);
      opacity: 0%;
    }
    to {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes slideInBottom {
    from {
      transform: translateY(500px);
      opacity: 0%;
    }
    to {
      transform: translateY(0);
      opacity: 100%;
    }
}

@keyframes appear {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    .about__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;

        .about__cover {
            animation-name: appear;
            animation-duration: 2s;
            img {
                height: 450px;
                width: 100vw;
            }
        }

        .about__info {
            margin-top: 3.125rem;

            .about__info__vision {
                width: 53.125rem;
                height: 14.938rem;
                animation-name: slideInLeft;
                animation-duration: 2s;

                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: 0.625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.188rem;
                }
                
            }

            .about__info__values {
                

                .about__info__values__description{
                    animation-name: slideInRight;
                    animation-duration: 2s;
                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.1875rem;
                }
                }

                .about__info__values__headline {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.125rem; 

                    .about__info__values__headline__section.animate{
                        animation-name: slideInBottom;
                    animation-duration: 2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 32.125rem;

                    h1 {
                        font-size: 3.125rem;
                        margin-top: 30px;
                    }

                    span {
                        font-size: 1.25rem;
                        text-align: center;
                        margin-top: 20px;
                    }

                }
                }
            }
        }

        .about__factory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.125rem;

            .about__factory__cover.animate {
                img {
                    animation-name: appear;
                    animation-duration: 3s;
                    width: 100vw;
                    height: 450px;
                }
            }

            .about__factory__info.animate {
                animation-name: slideInRight;
                animation-duration: 4s;
                width: 53.125rem;
                height: 20.25rem;
                margin-top: 3.125rem;

                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.1875rem;
                }
            }

            .about__factory__video.animate {
                margin-top: 3.125rem;
                animation-name: slideInBottom;
                animation-duration: 4s;

                iframe {
                    width: 850px;
                    height: 500px;
                }
            }
        }
    }
}

@media only screen and (min-width: 993px) and (max-width: 1399px) {
    .about__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;

        .about__cover {
            animation-name: appear;
            animation-duration: 2s;
            img {
                width: 100vw;
            }
        }

        .about__info {
            margin-top: 3.125rem;

            .about__info__vision {
                width: 53.125rem;
                height: 14.938rem;
                animation-name: slideInLeft;
                animation-duration: 2s;

                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: 0.625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.188rem;
                }
                
            }

            .about__info__values {
                
                .about__info__values__description{
                    animation-name: slideInRight;
                    animation-duration: 2s;
                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.1875rem;
                }
            }

                .about__info__values__headline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.125rem; 

                    .about__info__values__headline__section.animate{
                    animation-name: slideInBottom;
                    animation-duration: 2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 32.125rem;

                    h1 {
                        font-size: 3.125rem;
                        margin-top: 40px;
                    }

                    span {
                        font-size: 1.25rem;
                        text-align: center;
                        margin-top: 30px;
                    }

                }
                }
            }
        }

        .about__factory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.125rem;

            .about__factory__cover.animate {
                animation-name: appear;
                animation-duration: 3s;
                img {
                    width: 100vw;
                }
            }

            .about__factory__info.animate {
                width: 53.125rem;
                height: 20.25rem;
                margin-top: 3.125rem;
                animation-name: slideInRight;
                animation-duration: 4s;

                h2 {
                    font-size: 1.25rem;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 1.875rem;
                    line-height: 2.1875rem;
                }
            }

            .about__factory__video.animate {
                margin-top: 3.125rem;
                animation-name: slideInBottom;
                animation-duration: 4s;

                iframe {
                    width: 850px;
                    height: 500px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about__body {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .about__cover {
            animation-name: appear;
            animation-duration: 2s;
            img {
                width: 100vw;
            }
        }

        .about__info {
            margin-top: 25px;

            .about__info__vision {
                padding: 0px 100px;
                animation-name: slideInLeft;
                animation-duration: 2s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: 0.625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.188rem;
                }
                
            }

            .about__info__values {
                margin-top: 50px;
                padding: 0px 100px;

                .about__info__values__description{
                    animation-name: slideInRight;
                    animation-duration: 2s;
                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

                .about__info__values__headline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.125rem; 

                    .about__info__values__headline__section.animate{
                    animation-name: slideInBottom;
                    animation-duration: 2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 25px;
                        margin-top: 40px;
                    }

                    span {
                        font-size: 20px;
                        text-align: center;
                        margin-top: 30px;
                    }

                }
                }
            }
        }

        .about__factory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.125rem;

            .about__factory__cover.animate {
                animation-name: appear;
                    animation-duration: 3s;
                img {
                    width: 100vw;
                }
            }

            .about__factory__info.animate {
                height: 20.25rem;
                margin-top: 3.125rem;
                padding: 0px 100px;
                animation-name: slideInRight;
                animation-duration: 4s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

            .about__factory__video.animate {
                margin-top: 10px;
                animation-name: slideInBottom;
                animation-duration: 4s;

                iframe {
                    width: 650px;
                    height: 400px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .about__body {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .about__cover {
            animation-name: appear;
            animation-duration: 2s;
            img {
                width: 100vw;
            }
        }

        .about__info {
            margin-top: 25px;

            .about__info__vision {
                padding: 0px 30px;
                animation-name: slideInLeft;
                animation-duration: 2s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: 0.625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.188rem;
                }
                
            }

            .about__info__values {
                margin-top: 50px;
                padding: 0px 30px;

                .about__info__values__description{
                    animation-name: slideInRight;
                    animation-duration: 2s;
                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

                .about__info__values__headline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.125rem; 

                    .about__info__values__headline__section.animate{
                    animation-name: slideInBottom;
                    animation-duration: 2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 25px;
                        margin-top: 40px;
                    }

                    span {
                        font-size: 20px;
                        text-align: center;
                        margin-top: 30px;
                    }

                }
                }
            }
        }

        .about__factory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.125rem;

            .about__factory__cover.animate {
                animation-name: appear;
                    animation-duration: 3s;
                img {
                    width: 100vw;
                }
            }

            .about__factory__info.animate {
                height: 20.25rem;
                margin-top: 3.125rem;
                padding: 0px 30px;
                animation-name: slideInRight;
                animation-duration: 4s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

            .about__factory__video.animate {
                animation-name: slideInBottom;
                animation-duration: 4s;
                iframe {
                    width: 650px;
                    height: 400px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .about__body {
        display: flex;
        flex-direction: column;
        
        width: 100vw;

        .about__cover {
            animation-name: appear;
            animation-duration: 2s;
            img {
                width: 100vw;
                height: 125px;
            }
        }

        .about__info {
            margin-top: 25px;

            .about__info__vision {
                padding: 0px 30px;
                animation-name: slideInLeft;
                animation-duration: 2s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: 0.625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.188rem;
                }
                
            }

            .about__info__values {
                margin-top: 50px;
                padding: 0px 30px;

                .about__info__values__description{
                    animation-name: slideInRight;
                    animation-duration: 2s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

                .about__info__values__headline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.125rem; 

                    .about__info__values__headline__section.animate{
                    animation-name: slideInBottom;
                    animation-duration: 2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-size: 25px;
                        margin-top: 40px;
                    }

                    span {
                        font-size: 20px;
                        text-align: center;
                        margin-top: 30px;
                    }

                }
                }
            }
        }

        .about__factory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3.125rem;

            .about__factory__cover.animate {
                animation-name: appear;
                    animation-duration: 3s;
                img {
                    width: 100vw;
                    height: 125px;
                }
            }

            .about__factory__info.animate {
                height: 20.25rem;
                margin-top: 20px;
                padding: 0px 30px;
                margin-bottom: 20px;
                animation-name: slideInRight;
                animation-duration: 4s;

                h2 {
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: .625rem;
                }

                span {
                    font-size: 20px;
                    line-height: 2.1875rem;
                }
            }

            .about__factory__video.animate {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 150px;
                margin-bottom: 50px;
                animation-name: slideInBottom;
                animation-duration: 4s;
                
                iframe {
                    width: 90vw;
                    min-height: 100%;
                }
            }
        }
    }
}