@use "../../../constants/colors.scss";
@use "../../../fonts/fonts.scss";

.inputField {
    font-family: fonts.$crimson-text;
    font-size: 1.25rem;
    border: .1875rem solid colors.$app-blue;
    border-radius: .625rem;
    border-width: .125rem;
    padding: .3125rem .625rem;
}