.languageBtn {
  border: none;
  cursor: pointer;
  padding: 0;
  border-bottom: 0;
  

  &--first {
    width: 2.5rem;
    height: 1.875rem;
    background-color: white;
  }

  &--second {
    width: 2.5rem;
    height: 1.875rem;
    background-color: #004A67;
  }
}